{% extends 'blog/base.html' %}


{% block css %}
span.title{
    font-size:1.5em;
}
{% endblock %}

{% block title %}
Post_list
{% endblock %}


{% block content %}

<h1>블로그 목록</h1>
{% for post in post_list %}

    <ul><!-- Unordered list -->
        <li>
        <a href="{% url 'blog:post_detail' post.pk %}" >
        {% if post.photo %}
            <img src="{{ post.photo.url }}" style="width: 75px; height: 75px;" />
        {% endif %}
        <span class='title'> {{ post.title }} </span></a> / 생성일시 : {{ post.created_at }}
        </li>
    </ul>

{% endfor %}

{% if messages %} <ul class="messages">
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
{{ message }} </li>
{% endfor %} </ul>
{% endif %}

{% endblock %}
