{% extends 'blog/base.html' %}
{% load bootstrap3 %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<h1>게시물 이름 : {{ post.title }}</h1>
<div id="post_content">
    {{ post.content|linebreaks }}
</div><hr/>
<!-- <a href="{% url 'blog:comment_new' post.pk %}">
댓글쓰기 -->
</a>
    <dlv class="media">
        <ul>
        {% for comment in post.comment_set.all %}
            <li>
            {% if comment.jjal %}
                <img src="{{ comment.jjal.url }}" style="width: 75px; height: 75px;" />
            {% endif %}
            <h4> {{ comment.author }} : {{ comment.message }} </h4>
            작성일시 : {{ comment.created_at }}
            </li>
             <a href="{% url 'blog:comment_edit' post.pk comment.pk %}">수정</a>
        {% empty %}
            <li> 첫번째 댓글의 주인공이 되어주세요.</li>
        {% endfor %}
    </ul>
    </dlv>
</dlv>
<div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% bootstrap_form comment_form layout='inline' %}
        </table>
        <input type="submit" value="등록" />
    </form>
</div>

{% endblock %}
